OPENAI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_KEY=
CHIMEGE_TTS_API_KEY=
CHIMEGE_STT_API_KEY=
CHIMEGE_STT_LONG_API_KEY=
CHIMEGE_TTS_ENDPOINT=https://api.chimege.com/v1.2/synthesize
NEXT_PUBLIC_SUPABASE_URL=https://nnfmldrsrrbghrbunhxd.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key